extends layout

block content
  .w3-card-4
    header.w3-container.w3-red
      h1 Continente
    .w3-container  
      h3 Bem Vindo à App Continente!!
      h3 Aqui pode ver uma lista de clientes e de produtos vendidos   
      ul.w3-ul 
        li 
          a(href='/clientes') Lista de Clientes 
        li
          a(href='/produtos') Lista de Produtos

    footer.w3-container.w3-red
      adress Generated in Hackthon2025 